.button {
  display: inline-block;
  background: $purple;
  border: 1px solid $white;
  padding: .5rem 4rem;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  letter-spacing: 1.5px;
  @include breakpoint-phone {
    padding: .4rem 3rem;
  }
  &.delete {
    margin-left: 2rem;
    @include breakpoint-phone {
      margin-left: 1rem;
    }
  }
}
