form {
  .form-group {
    padding-bottom: 1rem;
    label,
    select,
    input {
      display: block;
      width: 100%;
      border: none;
      letter-spacing: 1.5px;
      outline: none;
      &:not(label) {
        height: 35px;
        background-color: $lightpurple;
      }
    }
    input {
      padding-left: .5rem;
    }
    label {
      font-size: 16px;
    }
    @include placeholder {
      color: $black;
    }
  }
  .button {
    border: 1px solid $black;
  }
}
