* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 1.5px; }

.container {
  width: 50%;
  margin: auto;
  padding: 2rem; }
  @media (max-width: 600px) {
    .container {
      width: 100%; } }
  .container .wrapper {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 28px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 28px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 28px -10px rgba(0, 0, 0, 0.75);
    padding: 2rem; }
    .container .wrapper h3 {
      margin-bottom: 1rem; }
  .container #hwList {
    margin-top: 2rem;
    width: 100%; }

.padding-bottom {
  padding-bottom: 2rem !important; }

h1 {
  font-size: 46px;
  margin-bottom: 2rem;
  color: #17202A; }
  @media (max-width: 600px) {
    h1 {
      font-size: 36px; } }

h3 {
  font-size: 26px; }
  @media (max-width: 600px) {
    h3 {
      font-size: 22px; } }

h4 {
  font-size: 22px; }
  @media (max-width: 600px) {
    h4 {
      font-size: 20px; } }

h6 {
  font-size: 12px;
  margin-bottom: 1rem; }

a,
button {
  text-decoration: none;
  color: #FFFFFF; }

p {
  padding: 1rem 0; }

form .form-group {
  padding-bottom: 1rem; }
  form .form-group label,
  form .form-group select,
  form .form-group input {
    display: block;
    width: 100%;
    border: none;
    letter-spacing: 1.5px;
    outline: none; }
    form .form-group label:not(label),
    form .form-group select:not(label),
    form .form-group input:not(label) {
      height: 35px;
      background-color: #f4edf7; }
  form .form-group input {
    padding-left: .5rem; }
  form .form-group label {
    font-size: 16px; }
  form .form-group ::-webkit-input-placeholder {
    color: #17202A; }
  form .form-group :-moz-placeholder {
    color: #17202A; }
  form .form-group ::-moz-placeholder {
    color: #17202A; }
  form .form-group :-ms-input-placeholder {
    color: #17202A; }
form .button {
  border: 1px solid #17202A; }

.card {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  padding: 2rem;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 28px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 28px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 28px -10px rgba(0, 0, 0, 0.75);
  z-index: 0; }
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: red;
    opacity: .2;
    z-index: -2; }
  .card #status {
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .card .info-dl:after {
    content: '';
    display: table;
    clear: both; }
  .card .info-dl #subject {
    float: left;
    width: 50%; }
  .card .info-dl #deadline {
    float: right;
    width: 50%; }

.button {
  display: inline-block;
  background: #C39BD3;
  border: 1px solid #FFFFFF;
  padding: .5rem 4rem;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  letter-spacing: 1.5px; }
  @media (max-width: 600px) {
    .button {
      padding: .4rem 3rem; } }
  .button.delete {
    margin-left: 2rem; }
    @media (max-width: 600px) {
      .button.delete {
        margin-left: 1rem; } }

/*# sourceMappingURL=style.css.map */
