* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$purple: #C39BD3;
$yellow: #F7DC6F;
$blue: #85C1E9;
$lightblue: #E6F3FF;
$green: #7DCEA0;
$orange: #F8C471;
$red: #F1948A;
$lightgrey: #F2F3F4;
$grey: #D6DBDF;
$darkgrey: #85929E;

$black: #17202A;
$white: #FFFFFF;
